section.contact {
  min-height: calc(100vh - 100px);
  background-color: rgba(0, 0, 0, 0.04);
  position: relative;
}

section.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("contactBackground.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  filter: blur(2px) grayscale(0.7) brightness(0.6);
}

section.contact h2 {
  font-size: 42px;
  text-align: center;
  color: aliceblue;
  font-family: "Noto Sans JP", sans-serif;
  text-transform: uppercase;
  padding: 10px 0;
}

section.contact .allContacts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 34px;
  position: absolute;
  left: 5%;
  width: 90%;
  height: 80%;
  font-family: "Noto Sans JP", sans-serif;
}

section.contact .allContacts .facebookContact i {
  color: #f5b71a;
  margin-right: 20px;
  font-size: 40px;
  padding: 0;
}

section.contact .allContacts .facebookContact a {
  text-decoration: none;
  color: aliceblue;
  padding: 0;
}

section.contact .allContacts .facebookContact a:hover {
  font-weight: bold;
}

section.contact .allContacts .phoneContact {
  color: aliceblue;
}

section.contact .allContacts .phoneContact i {
  color: #f5b71a;
  font-size: 40px;
  margin-right: 20px;
  padding: 0;
}

section.contact .allContacts .emailContact {
  color: aliceblue;
}

section.contact .allContacts .emailContact i {
  color: #f5b71a;
  font-size: 40px;
  margin-right: 20px;
  padding: 0;
}

section.contact .allContacts .addressLocation {
  color: aliceblue;
}

section.contact .allContacts .addressLocation i {
  color: #f5b71a;
  font-size: 40px;
  margin-right: 20px;
  padding: 0;
}

section.contact .allContacts .googleContact i {
  color: #f5b71a;
  font-size: 40px;
  margin-right: 20px;
  padding: 0;
}

section.contact .allContacts .googleContact a {
  color: aliceblue;
  text-decoration: none;
  padding: 0;
}

section.contact .allContacts .googleContact a:hover {
  font-weight: bold;
}

@media (max-width: 1200px) {
  section.contact .allContacts {
    font-size: 24px;
  }
}

@media (max-width: 600px) and (orientation: portrait) {
  section.contact .allContacts {
    font-size: 14px;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  section.contact {
    height: 200vh;
  }
}
